<html>

<head>
    <title>Каталог</title>
    <link rel="stylesheet" href="style.css">
</head>

<body align="center">

    <body align="center">
        <img src="pic/zin.jpg" alt="У вас проблемы с проблемами с картинками" width="300" height="204"><br>
        <header>
            <h2>Меню</h2>
            <h3><a href="main.html">Главная</a> • <a href="katolog-tovar.html">Назад</a> • <a
                    href="kontakt.html">Контакты</a></h3>
        </header>
        <hr>
        <h4>Отправь кароч на киви деняк - +7 960 353-73-42
        </h4>
        <hr>
        <footer><br><br>
            <i>Магазин Зин - все права обучены боевым исскуствам и могут за себя постоять<i>
                    </p>
        </footer>
    </body>

</html>