<html>

<head>
    <title>Контакты</title>
    <link rel="stylesheet" href="style.css">
</head>

<body align="center">
<img src="pic/zin.jpg" alt="У вас проблемы с проблемами с картинками" width="300" height="204"><br>
<header>
    <h2>Меню</h2>
    <h3><a href="katalog.html">Каталог</a> • <a href="main.html">Назад</a> • <a href="contacts.html">Контакты</a>
    </h3>
</header>
<hr>
<h4>Почта - CorruptedPage@yandex.ru<br>
    Дискорд - Corrupted#5935<br>
    Я - Дебил</h4>
<iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1997.4161213264942!2d30.22855131583584!3d59.95842066746504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469636dca65e3ff9%3A0x4a2f6c080abddc09!2z0KbQldCd0KLQoCDQodCe0JTQldCZ0KHQotCS0JjQryDQodCV0JzQldCZ0J3QntCc0KMg0JLQntCh0J_QmNCi0JDQndCY0K4g4oSWIDI!5e0!3m2!1sru!2sru!4v1553955462956!5m2!1sru!2sru"
        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<h2>Непишите мне</h2>
<form name="feedback">
    <fieldset>
        <div class="box">
            <input type="text" placeholder="Введите ФИО" name="name" required>
        </div>
        <div class="box">
            <input type="email" placeholder="Введите email" name="email" required>
        </div>
        <div class="box">
            <input type="text" placeholder="Тема обращения" name="subject" required>
        </div>
        <div class="box">
            <textarea cols="60" rows="10" name="comment" placeholder="Введите комментарий" required></textarea>
        </div>
        <div>
            <input type="submit" value="Отправить">
        </div>
    </fieldset>
</form>
<hr>
<footer><br><br>
    <i>Магазин Зин - все права обучены боевым исскуствам и могут за себя постоять<i>
        </p>
</footer>
</body>

</html>