{% load staticfiles %}
<html>

<head>
    <title>Каталог</title>
    <link rel="stylesheet" href="{% static 'mainapp/css/style.css' %}">
</head>

<body align="center">
<img src="{% static 'mainapp/img/zin.jpg' %}" alt="" width="300" height="204"><br>
<header>
    <h2>Меню</h2>
    <h3><a href="main.html">Главная</a> • <a href="!!.html">Мы тут</a> • <a href="contacts.html">Контакты</a></h3>
</header>
<hr>
<h1>КАТАЛОГ</h1>
<h1><a href="katolog-tovar.html">Подробнее</a></h1>
<img src="{% static 'mainapp/img/kukla.jpg' %}" alt="" width="200" height="150">
<img src="{% static 'mainapp/img/pechene.jpg' %}" alt="">
<img src="{% static 'mainapp/img/kardash.png' %}" alt="" width="200" height="199">
<img src="{% static 'mainapp/img/Phone.jpg' %}" alt="" width="200" height="118"><br>
<h1><a href="po (1).html">ОПИСАНИЕ</a> • • • • • • <a href="po (2).html">ОПИСАНИЕ</a> • • • • <a
        href="po (3).html">ОПИСАНИЕ</a> • <a href="po (4).html">ОПИСАНИЕ</a>
</h1>
<table align="center">
    <caption>характеристика наших товаров</caption>
    <thead>
    <tr>
        <th></th>
        <th>Мощность шутки</th>
        <th>Смертей</th>
        <th>Максимальная ржомба (км/ч)</th>
        <th>Максимальная ржомба (% от серой жизни, от которой хочется здохнуть)</th>
    </tr>
    </thead>
    <tr>
        <th>Страшная кукла, на которую нажимаешь и она распадается на мельчайшие частицы</th>
        <td>13 Ржомбов на куб. метр</td>
        <td>0</td>
        <td>25 км/ч</td>
        <td>999</td>


    </tr>
    <tr>
        <th>печенье с солью и вареной телятиной</th>
        <td>999 Ржомбов на куб. метр</td>
        <td>0</td>
        <td>30 км/ч</td>
        <td>99</td>

    </tr>
    <tr>
        <th>Карандаш, который ломается когда им пишешь</th>
        <td>95 Ржомбов на куб. метр</td>
        <td>0</td>
        <td>55 км/ч</td>
        <td>99999</td>

    </tr>
    <tr>
        <th>Телефон на линуксе</th>
        <td>-1 Ржомбов на куб. метр</td>
        <td>1</td>
        <td>125 км/ч</td>
        <td>9999999999999</td>

    </tr>
    <tr>
        <th colspan="6">Подробнее на странице товаров</th>
    </tr>
</table>
<hr>
<footer><br><br>
    <i>Магазин Зин - все права обучены боевым исскуствам и могут за себя постоять<i>
        </p>
</footer>
</body>

</html>