<html>

<head>
    <title>Главная</title>
    <link rel="stylesheet" href="style.css">
</head>

<body align="center">
<img src="pic/zin.jpg" alt="У вас проблемы с проблемами с картинками" width="300" height="204"><br>
<header>
    <h2>Меню</h2>
    <h3><a href="main.html">Главная</a> • <a href="katalog.html">Назад</a> • <a href="contacts.html">Контакты</a>
    </h3>
</header>
<hr>
<h2>Мы продаем всякие штуки для преколов, потому что... можем. <br>
    Например если хотите купить печенье с солью и вареной телятиной для своего друга, то пожалуйста!</h2>
<h3><br>Почему именно мы?</h3>
<h4>Вы не найдете нигде в своем городе магазин, где можно купить куклу, на которую нажимаешь и она распадается на
    мельчайшие частицы!!!!<br>
    Вы не найдете таких же отбитых предпринимателей</h4>
<h3>Товары</h3>
<div class="tovar">
    <h3>Страшная кукла, на которую нажимаешь и она распадается на мельчайшие частицы</h3> - 450 рублей
    <a href="po (1).html">ОПИСАНИЕ</a>
    <h4>Описание товара</h4><br>
    <img src="pic/kukla.jpg" width="200" height="150"><br><br>
    <b>Сделана из бабушек на остановках, не удержишь в руках!1!!<b>
</div>
<div class="tovar">
    <h3>печенье с солью и вареной телятиной</h3> - 500 рублей
    <a href="po (2).html">ОПИСАНИЕ</a>
    <h4>Описание товара</h4>
    <img src="pic/pechene.jpg"><br>
    <b>Немного острая, немного соленая, немного в унитазе, на др сойдет</b>
</div>
<div class="tovar">
    <h3>Карандаш, который ломается когда им пишешь</h3> - 100 рублей
    <a href="po (3).html">ОПИСАНИЕ</a>
    <h4>Описание товара</h4>
    <img src="pic/kardash.png" width="200" height="199"><br><br>
    <b>Ну тут все понятно)))0)))</b>
</div>
<div class="tovar">
    <h3>Телефон на линуксе, друг не оценит!</h3> - 2019 рублей
    <a href="po (4).html">ОПИСАНИЕ</a>
    <h4>Описание товара</h4>
    <img src="pic/Phone.jpg" width="200" height="118"><br><br>
    <b>НЕ ПОКУПАЙ СЕБЕ!!!</b>
</div>

<h2>Характеристики наших товаров</h2>
Материалы стараемся делать натуральные, куклы из пластика, а печенье - из муки.
<hr>
<footer><br><br>
    <i>Магазин Зин - все права обучены боевым исскуствам и могут за себя постоять<i>
        </p>
</footer>
</body>

</html>