{% load staticfiles %}
<html>

<head>
    <title>Главная</title>
    <link rel="stylesheet" href="{% static 'mainapp/css/style.css' %}">
</head>

<body align="center">
    <Если у вас не работают ссылки, проверьте пожалуйста названия файлов, свою мышку, свои хромосомы><br>
        <В ТЕКСТЕ СПЕЦИАЛЬНО ЕСТЬ ОШИБКИ, ПРОЗЬБА ВДУМАТЬСЯ И ПОНЯТЬ ЧТО АВТОР ДОЛБАНУТЫЙ ШУТНИК!!!><br>
            <img src="{% static 'mainapp/img/zin.jpg' %}" alt="" width="300" height="204"><br>
            <header>
                <h2>Меню</h2>
                <h3><a href="!!">Мы тут</a> • <a href="katalog">Каталог</a> • <a
                        href="kontakt.html">Контакты</a></h3>
            </header>
            <hr>
            <div class="container">
                <h1>МАГАЗИН ЗИН - ТОВАРЫ ДЛЯ МЕМОФ И ПРЕКОЛОФ НА ВСЕ СЛУЧАИ ЖИЗНИ</h1>
                <h2>Всего 1 смерть!</h2>
                <h1>ПРИВЕТ! Если хочешь купить что-то для прекола - тебе к нам.</h1>
                Смертей пока почти не было, так что не порть статистику Х)
            </div>
            <hr>
            <footer><br><br>
                <i>Магазин Зин - все права обучены боевым исскуствам и могут за себя постоять<i>
                        </p>
            </footer>
</body>

</html>