<html>

<head>
    <title>Печенье</title>
    <link rel="stylesheet" href="style.css">
</head>

<body align="center">
    <img src="pic/zin.jpg" alt="У вас проблемы с проблемами с картинками" width="300" height="204"><br>
    <header>
        <h2>Меню</h2>
        <h3><a href="main.html">Главная</a> • <a href="katolog-tovar.html">Назад</a> • <a
                href="kontakt.html">Контакты</a></h3>
    </header>
    <hr>
    <h3>печенье с солью и вареной телятиной</h3> - 500 рублей
    <h4>Описание товара</h4>
    <img src="pic/pechene.jpg"><br>
    <b>Немного острая, немного соленая, немного в унитазе, на др сойдет</b>
    <h1>
        <h4>Подробное Описание Товара
    </h1>
    Любишь печенье?! Уже нет, ведь наша компания делает их ОТВРАТИТЕЛЬНО!!! только эта нечисть окажется на вашем языке,
    как<br>
    сразу язык жертвы расплавится, упадет на пол и прожгет его! А если ты еще и проглотишь это, то R.I.P.
    </h4><br>
    <div class="tovar">
        <h3><a href="Buy.html">Купить</a></h3>
    </div>
    <hr>
    <footer><br><br>
        <i>Магазин Зин - все права обучены боевым исскуствам и могут за себя постоять<i>
                </p>
    </footer>
</body>

</html>