<html>

<head>
    <title>Карандаш</title>
    <link rel="stylesheet" href="style.css">
</head>

<body align="center">
<img src="pic/zin.jpg" alt="У вас проблемы с проблемами с картинками" width="300" height="204"><br>
<header>
    <h2>Меню</h2>
    <h3><a href="main.html">Главная</a> • <a href="katolog-tovar.html">Назад</a> • <a
            href="contacts.html">Контакты</a></h3>
</header>
<hr>
<h3>Карандаш, который ломается когда им пишешь</h3> - 100 рублей
<h4>Описание товара</h4>
<img src="pic/kardash.png" width="200" height="199"><br><br>
<b>Ну тут все понятно)))0)))</b>
<h1>
    <h4>Подробное Описание Товара
</h1>
Этот карандаш был создан лично мной, основателем компании по производству говна и палок. Как вы поняли, это смесь
первого и второго, ведь этот карандаш..., опустим эту тему)<br>
Так вот, если вы надумали начертить им что-то, то извините, но нет. Карандаш плавится в руках и ломается при касании
с бумагой? Так и планировалось, не пишите в поддержку, читайте описание! как же вы достали!!!!!!
</h4><br>
<div class="tovar">
    <h3><a href="Buy.html">Купить</a></h3>
</div>
<hr>
<footer><br><br>
    <i>Магазин Зин - все права обучены боевым исскуствам и могут за себя постоять<i>
        </p>
</footer>
</body>

</html>