<html>

<head>
    <title>Телефон</title>
    <link rel="stylesheet" href="style.css">
</head>

<body align="center">
    <img src="pic/zin.jpg" alt="У вас проблемы с проблемами с картинками" width="300" height="204"><br>
    <header>
        <h2>Меню</h2>
        <h3><a href="main.html">Главная</a> • <a href="katolog-tovar.html">Назад</a> • <a
                href="kontakt.html">Контакты</a></h3>
    </header>
    <hr>
    <h3>Телефон на линуксе, друг не оценит!</h3> - 2019 рублей
    <h4>Описание товара</h4>
    <img src="pic/Phone.jpg" width="200" height="118"><br><br>
    <b>НЕ ПОКУПАЙ СЕБЕ!!!</b>
    <h1>
        <h4>Подробное Описание Товара
    </h1>
    Вот вы знали, что Андроид имеет корни Линукса? Теперь знаете не по наслышке >:D<br>
    Изначально мы планировали сделать окна в смартфоне и оставить на произвол судьбы, но после работы нашего работника,
    Миры, все пошло к черту и телефон перестал работать.<br> тогда мы решили запихнуть туда Линух. Держи. Он правда
    лагает, но кого волнует?))
    </h4><br>
    <div class="tovar">
        <h3><a href="Buy.html">Купить</a></h3>
    </div>
    <hr>
    <footer><br><br>
        <i>Магазин Зин - все права обучены боевым исскуствам и могут за себя постоять<i>
                </p>
    </footer>
</body>

</html>