body{
	background-color: #222222;
	color: #E8E8E8;
	font-weight: 400
}
A {
color: #CCCCF8;
}
A:active {
color: #0000F8;
}
A:visited {
color: #CCCCE8;
}
A:hover {
	color: #5faf8a
}
input {
	background-color: #666666;
	border-color: #222222;
	color: #FFFFBB
}
input[type="email"] {
	width: 200px; height: 25px;
	border-width: 1px;
	border-color: #5faf8a #b9cea5;
	font-size: 14px;
	color: #002868;
}
input[type="email"]:focus {
	color: #0000ff;
	background-color: #e0ffff;
}
.container {
	width: 100%; 
}
header {
	height: 10%;
}
footer {
	height: 10%;
	background: #1D1D1D;
}
.tovar{
	position: relative;
	left: 37%;
	border-color: #22222200;
	border-style: solid;
	width: 25%;
	transition: background-color 0.3s ease-out;
	transition: border-color 0.3s ease-out;
	transition: transform 0.3s ease-out;
}
.tovar:Hover{
	background: #0e001a;
	transform: scale(1.12);
	border-color: #5faf8a;
}
